$primary: #f68b47;
$secondary: #c62046;
$pink: #fcb4b4;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-primary,
.btn-secondary {
  color: white;
}

.btn-primary:hover,
.btn-secondary:hover {
  color: white;
}

.btn-primary:focus,
.btn-secondary:focus {
  color: white;
}
