.badge.rounded-pill {
  background-color: var(--bs-primary);
}

.list-group {
  overflow-y: auto;
  border: 1px solid var(--bs-pink);
}

.list-entry {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  border: none;
}

.list-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  text-align: center;
  background-color: var(--bs-pink);
  color: white;
  border: none;
}
